form{
    width: 90%;
    max-width: 300px;
    height: 50%;
    background-color: silver;
    padding: 33px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

label{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: rgb(77, 74, 74);
    margin-bottom: 26px;
   
}

textarea{
    background-color: #F9FBFC;
    border: 2px solid #202329;
    border-radius: 8px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    color: #1E1E1F;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    height: 96px;
    width: calc(100% - 25px);
    max-width: fit-content;
    
}

textarea::placeholder{
    font-size: 15px;
    
}

textarea:focus{
    outline-color: #61DAFA;
}

.TodoForm-buttonContainer{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    
}

.TodoForm-button--add {
    cursor: pointer;
    width: 80px;
    height: 45px;
    margin-right: 20px;
    border: 2px solid #06bcee;
    border-radius: 10px;
    background-color: #61DAFA;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
    
    
}

.TodoForm-button--cancel{
    cursor: pointer;
    border: none;
    background-color: transparent;
    
}